:root { 
--gray_600:#6e6e6e; 
--gray_402:#bfbfbf; 
--gray_501:#ababab; 
--gray_601:#848484; 
--gray_400:#c8c8c8; 
--gray_500:#9e9fa3; 
--gray_401:#bcbcbc; 
--gray_800:#3c3c3c; 
--light_blue_700:#0d8ccd; 
--light_blue_601:#039be2; 
--light_blue_600:#039be3; 
--gray_200:#ececec; 
--black_900_3f:#0000003f; 
--gray_201:#efefef; 
--gray_50:#f8f8f8; 
--bluegray_700:#3a4b6e; 
--black_900:#000000; 
--bluegray_400:#898989; 
--white_A700:#ffffff; 
}